# Node modules
**/node_modules/

# Build outputs
**/dist/
**/build/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# IDEs y editores
.vscode/
.idea/
*.sw?

# Docker
**/.docker/
**/*.pid

# System files
.DS_Store
Thumbs.db

# Coverage reports
**/coverage/

# React/Vite cache
**/.vite/
**/.cache/